@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}
header {
  // border: solid 2px red;
  height: 19.6vh;
  // width: 89vw;
  display: flex;
  align-items: center;
  background-color: #ff69b4;
  color: white;
  justify-content: space-evenly;
  font-size: 28px;
  font-weight: 400;
  @media (max-width: 1058px) {
    height: 22vh;
    font-size: 15px;
  }
  .logo {
    // border: solid 2px black;
    display: flex;
    align-items: center;
    @media (max-width: 1058px) {
    }
  }

  img {
    height: 100px;
    width: 100px;
    @media (max-width: 1058px) {
      height: 80px;
      width: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  h1 {
    font-size: 28px;
    font-weight: 400;
  }

  nav {
    // border: solid 2px red;
    width: 50vw;
    @media (max-width: 1058px) {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      // width: 80vw;
    }

    ul {
      // border: solid 2px black;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 1058px) {
        margin-top: 3px;
        width: 80vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      li {
        // border: solid 2px blue;

        a {
          color: white;
        }
        @media (max-width: 1058px) {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

main {
  .bloco2 {
    // border: solid 2px rgb(255, 0, 13);
    height: 62.9vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffd9ec;

    @media (max-width: 1058px) {
      display: flex;
      height: auto;
      padding: 12px;
    }

    p {
      width: 587px;
      height: 265px;
      font-size: 25px;
      font-weight: 400;
      text-align: justify;
      @media (max-width: 1058px) {
        font-size: 15px;
        padding: 12px 12px 0 12px;
        height: auto;
        text-align: center;
      }
    }
    img {
      width: 365px;
      height: 355px;
      @media (max-width: 1058px) {
        width: 265px;
        height: 195px;
      }
    }
  }

  .bloco3 {
    background-color: #ff69b4;
    //border: solid 2px rgb(84, 201, 73);
    height: 43.7vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @media (max-width: 1058px) {
      display: flex;
      height: auto;
      padding: 12px;
    }

    img {
      width: 421px;
      height: 234px;
      @media (max-width: 1058px) {
        width: 265px;
        height: 195px;
      }
    }
    p {
      color: white;
      width: 648px;
      font-size: 25px;
      font-weight: 400;
      text-align: justify;
      @media (max-width: 1058px) {
        font-size: 15px;
        padding: 12px 12px 0 12px;
        height: auto;
        text-align: center;
      }
    }
  }
  .bloco4 {
    border: solid 2px red;
    height: 71.1vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffd9ec;
    @media (max-width: 1058px) {
      height: 50vh;
    }

    img {
      width: 22vw;
      height: 22vw;
      @media (max-width: 1058px) {
        width: 15vw;
        height: 15vw;
      }
    }
  }
}
footer {
  //border: solid 2px red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  background-color: #ff69b4;
  color: white;
  ul {
    text-align: center;
    a {
      color: white;
    }
  }
}
